body{
    margin: 0;
    padding: 0;
    background-color: linen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.div1{
    width: 95%;
    height: 620px;
    text-align: center;
}
.div{
    position: relative;
    top: 45%;
    font-size: 30px;
    width: 55%;
    margin: auto;
    background-color: grey;
}
p{
    padding: 10px 10px;
}
.div2{
    background-color: lightgrey;
    padding: 30px;
    text-align: center;
    color: grey;
}

.div3{
    height: 500px;
    text-align: center;
    background: url('img.jpg');
}
.img{
    font-size: 35px;
    position: relative;
    top: 50%;
    letter-spacing: 3px;
}
.div4{
    background-color: rgb(80, 78, 78);
    padding: 30px;
    text-align: center;
    color: lightgray;
}

.div5{
    height: 200px;
}
.div6{
    background-color: rgb(80, 78, 78);
    padding: 30px;
    text-align: center;
    color: lightgray;
}
.div7{
    width: 95%;
    height: 620px;
    text-align: center;
}
.divi{
    position: relative;
    top: 40%;
    font-size: 30px;
    width: 70%;
    margin: auto;
    background-color: grey;
}
@media only screen and (min-width: 960px) {
div{
    width: 80%;
    margin: auto;
}
    
}